{% extends "base.html" %}
{% block title %}主机列表{% endblock %}
{% block head %}主机列表{% endblock %}
{% block content %}
    <a href="{% url "host:host-create" %}" >创建主机</a>
    <br>
        <br>

    <table class="table">
        <thead>
        <tr>
            <th>主机名</th>
            <th>IP地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for host in host_list %}
            <tr>
                <td>{{ host.hostname }}</td>
                <td>{{ host.ip }}</td>
                <td>
                    <a href="{% url "host:host-edit" host.id %}">编辑</a>
                    <a href="{% url "host:host-delete" host.id %}">删除</a>
                    <a href="{% url "host:host-detail" host.id %}">查看详情</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}